/* The container for the switch */
.switch-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* The switch itself */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 30px;
}

/* Hide the default checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 34px;
}

/* The circle inside the slider */
.slider::before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	border-radius: 50%;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
}

/* When the switch is checked, change the background and position of the circle */
input:checked + .slider {
	background-color: #4caf50;
}

input:checked + .slider::before {
	transform: translateX(28px);
}

/* Add a smooth hover effect */
.slider:hover {
	background-color: #aaa;
}

/* .fix-top {
	position: fixed;
	width: 100%;
	top: 0px;
} */
